@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 210 75% 98%; /* Light Blue #f8fbfe */
    --foreground: 0 0% 10%; /* Neutral dark for body text */

    --card: 36 68% 95%; /* Light Warm Ivory tint */
    --card-foreground: 0 0% 10%;

    --popover: 36 68% 95%;
    --popover-foreground: 0 0% 10%;

    --primary: 142 79% 34%; /* Green #129b4b */
    --primary-foreground: 0 0% 100%;

    --secondary: 43 63% 57%; /* Gold #d4b151 */
    --secondary-foreground: 0 0% 100%;

    --muted: 39 71% 88%; /* Light Gold #f5e9cd */
    --muted-foreground: 0 0% 40%; /* Neutral muted text */

    --accent: 43 63% 57%; /* Gold #d4b151 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%; /* Neutral light border */
    --input: 0 0% 80%;
    --ring: 42 100% 46%;

    --radius: 0.5rem;

    --sidebar-background: 36 68% 87%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 0 100% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 36 68% 92%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 0 0% 80%;
    --sidebar-ring: 42 100% 46%;
  }

  .dark {
    --background: 0 0% 10%; /* Neutral dark */
    --foreground: 0 0% 98%; /* Neutral light */

    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 42 100% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 100% 35%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 42 100% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 42 100% 55%;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 100% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 42 100% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}